html {
    background-color: #000;
    color: #666;
}
#gameHere{
    background-color: #090909;
    text-align: center;
    border: 1px solid #666;
    width: 50%;
    cursor:vertical-text;
}